<%- include('header', { nav : nav }) %>
<div class="container">
    <h1 class="display-4">
        Új kutya hozzáadása
    </h1>
    <form action="/dog/new" method="POST">
        <div class="form-group">
            <label for="nev">Név</label>
            <input type="text" class="form-control" id="nev">
        </div>
        <div class="form-group">
            <label for="fajta">Fajta</label>
            <input type="text" class="form-control" id="fajta">
        </div>
        <div class="form-group">
            <label for="kor">Kor</label>
            <input type="text" class="form-control" id="kor">
        </div>
        <div class="form-group">
            <label for="szin">Szín</label>
            <input type="text" class="form-control" id="szin">
        </div>
        <div class="form-group">
            <label for="menhely">Menhely</label>
            <select class="form-control">
                <option>XI. kerületi menhely</option>
                <option>XII. kerületi menhely</option>
                <option>IV. kerületi menhely</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Mentés</button>
    </form>
</div>
<%- include('footer') %>