<%- include('header', { nav : nav }) %>
<div class="container">
    <h1 class="display-4">
        Új menhely létrehozása
    </h1>
    <form action="/pound/new" method="POST">
        <div class="form-group">
            <label for="place">Telephely</label>
            <input type="text" class="form-control" id="place">
        </div>
        <div class="form-group">
            <label for="id">Telephely Sorszama</label>
            <input type="text" class="form-control" id="id">
        </div>

        <button type="submit" class="btn btn-primary">Mentés</button>
    </form>
</div>
<%- include('footer') %>